<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /marriage_blog_spot/

    # Remove the index.php from the URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>